.app {
    display: flex;
    width: 100vw;
    padding: 2rem;
}

.app .fields {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app .curriculum-vitae {
    flex: 1;
}
