.app {
    display: flex;
    width: 100vw;
    padding: 1rem;
}

.app .fields {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 1rem;
}

.app .curriculum-vitae {
    flex: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}
